@import './variables';

#header {
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    height: 56px;
    color: #eee;
    justify-content: flex-end;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;
    }
    
    .icon {
        padding: 0 8px;
        font-size: 28px;
        cursor: pointer;
        //transition: color 150ms ease-in;
    }
    
    .icon-spacer {
        margin: 0 8px;
    }

    .icon-active {
        color: pink;
    }
}