@import './variables';

* { 
    box-sizing: border-box;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

body {
    margin: 0;
    padding: 0;
    background-color: $background;
    overflow-x: hidden;
    font-family: $primary-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    box-sizing: content-box;
}

.icon-hoverable {
    color: #ccc;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 350ms;
    transform-origin: center;
    cursor: pointer;

    &:hover {
        color: #eee;
        border: 2px solid #ddd;
        transform: scale(1.05);
        background-color: rgba(0, 0, 0, .6);
    }
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.stack {
    --space: 1.5rem;
}

.stack > * + * {
    margin-top: var(--space);
}
