@import '../variables';

.row-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    color: white;

    .row-details-left {
        margin-left: $slider-padding;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 2px;

        .title {
        }

        .rated {
            align-self: flex-start;
            border: 1px solid white;
            padding: 1px 8px 1px 6px;
        }

    }

    .row-details-right {
        flex: 1;

        .row-details-backdrop {
            img {
                height: 30vw;
            }
        }
    }

}