@import '../variables';

.header {
    height: $header-height;
    position: relative;
    padding: 0 12px;
    z-index: 1;
    
    .header-content {
        display: flex;
        justify-content: space-between;
        color: white;
        font-weight: 600;
        
        a {
            text-decoration: none;
            color: inherit;
        }

        .left {
            display: flex;
            align-items: center;

            div {
                margin-right: 16px;
                z-index: 3;
            }
        }
        
        .logo {
            display: flex;
            align-items: center;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-size: 28px;
            padding: 4px 0;
            z-index: 3;

            svg {
                padding: 0;
            }
        }

        .right {
            .search {
                position: relative;
                align-items: center;
                display: flex;
                width: 300px;
                height: 100%;
            }

            .search-to-close-icon {
                position: absolute;
                right: 4px;
                stroke: white;
                width: 24px;
                will-change: stroke;
                transition: all 150ms ease-in 250ms;
                cursor: pointer;
            }

            .search-to-close-icon-expanded {
                stroke: $color-accent;
                transition: all 0ms ease-in 0ms;
            }

            .search-input {
                position: absolute;
                right: 0;
                width: 30px;
                height: 32px;
                opacity: 0;
                border-radius: 4px;
                border: 0;
                padding: 8px;
                will-change: width;
                font-family: 'Open Sans';
                @include Elevation(4);

                // out
                transition: opacity 250ms ease-in 50ms, width 150ms ease-in 50ms;
            }

            // in
            .search-input-expanded {
                opacity: 1;
                width: 300px;
                transition: opacity 0ms ease-in 0ms, width 150ms ease-in 50ms;
            }
        }
    }

    .top-scrim {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        color: white;
        align-items: center;
        height: $header-height;
        background: linear-gradient(
            hsla(0, 0%, 0%, .7) 0%,
            hsla(0, 0%, 0%, 0.738) 10%,
            hsla(0, 0%, 0%, 0.541) 30%,
            hsla(0, 0%, 0%, 0.382) 47%,
            hsla(0, 0%, 0%, 0.278) 56.5%,
            hsla(0, 0%, 0%, 0.194) 65%,
            hsla(0, 0%, 0%, 0.126) 73%,
            hsla(0, 0%, 0%, 0.075) 80.2%,
            hsla(0, 0%, 0%, 0.042) 86.1%,
            hsla(0, 0%, 0%, 0.021) 91%,
            hsla(0, 0%, 0%, 0.008) 95.2%,
            hsla(0, 0%, 0%, 0.002) 98.2%,
            hsla(0, 0%, 0%, 0) 100%
        );
    }
}

