@import '../variables';

.video-player {
    
    .video {
        display: block;
        outline: none;
    }

    .video-rated-bar {
        position: absolute;
        right: 0;
        bottom: 5vw;
        z-index: 2
    }

    .video-controls {
        position: absolute;
        right: 11.5vw;
        bottom: 5vw;
        z-index: 2;
    }
}

// .title {
//     text-align: center;
//     line-height: 1;
//     font-size: 5.5vw;
//     text-transform: uppercase;
//     font-family: Anton;

//     // for gradient
//     color: transparent;
//     background-image: -webkit-linear-gradient(29deg, rgba(255,103,103,1) 0%, rgba(131,11,11,1) 63%);
//     background-image:    -moz-linear-gradient(29deg, rgba(255,103,103,1) 0%, rgba(131,11,11,1) 63%);
//     background-image:     -ms-linear-gradient(29deg, rgba(255,103,103,1) 0%, rgba(131,11,11,1) 63%);
//     background-image:      -o-linear-gradient(29deg, rgba(255,103,103,1) 0%, rgba(131,11,11,1) 63%);
//     background-image:         linear-gradient(29deg, rgba(255,103,103,1) 0%, rgba(131,11,11,1) 63%);
//     -webkit-background-clip: text;
//     background-clip: text;
    
//     // for wrapping words onto their own lines
//     display: table-caption;
//     display: -ms-grid;
//     width: min-intrinsic;
//     width: -webkit-min-content;
//     width: -moz-min-content;
//     width: min-content;
//     -ms-grid-columns: min-content;
// }