body {
    background-color: rgb(20, 20, 20);
}
#feature {
    height: 400px;
    width: 100%;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.video iframe {
    width: 100%;
    position: absolute;
    height: 100%;
}
